:root {
  --primary-color-100: rgb(231, 248, 247);
  --primary-color-200: rgb(201, 236, 234);
  --primary-color-400: rgb(113, 211, 205);
  --primary-color-500: rgb(19, 181, 172);
  --primary-color-600: rgb(13, 148, 136);
  --primary-color-700: rgb(12, 117, 112);
  --primary-color-800: rgb(8, 75, 72);

  --danger-color-300: rgb(255, 223, 223);
  --danger-color-400: rgb(254, 160, 160);
  --danger-color-500: rgb(254, 97, 97);
  --danger-color-600: rgb(239, 68, 68);
  --danger-color-700: rgb(250, 0, 20);
  --dark-color-010: rgb(241, 241, 241); 
  --dark-color-100: rgb(203, 203, 203); 
  --dark-color-200: rgb(164, 164, 164); 
  --dark-color-300: rgb(125, 125, 125); 
  --dark-color-400: rgb(84, 84, 84); 
  --dark-color-500: rgb(37, 37, 37);
  --secondary-color-200: rgb(249, 250, 251);
  --secondary-color-300: rgb(229, 231, 235);
  --secondary-color-400: rgb(209, 213, 219);
  --secondary-color-500: rgb(55, 65, 81);
  --secondary-color-800: rgb(17, 24, 39);
  --white-color-500: rgba(255, 255, 255);
  --black-color-500: rgb(0, 0, 0);
  --gray-color-300: rgb(243, 244, 246);
  --gray-color-400: rgb(156, 163, 175);
  --gray-color-500: rgb(107, 114, 128);
  --gray-color-600: rgb(228, 228, 231);
  --yellow-color-100: rgb(254, 243, 199);
  --yellow-color-200: rgb(255, 220, 168);
  --yellow-color-400: rgb(252, 211, 77);
  --yellow-color-500: rgb(255, 192, 29);
  --amber-color-500: rgb(217, 119, 6);
  --dark-gold-color-100: rgb(237, 231, 225);
  --dark-gold-color-400: rgb(211, 196, 181);
  --dark-gold-color-500: rgb(186, 163, 139);
  --purple-color-100: rgb(233, 212, 221);
  --purple-color-500: rgb(146, 40, 85);
  --blue-color-500: rgb(37, 99, 235);
  --indigo-color-100: rgb(224, 232, 255);
  --indigo-color-500: rgb(80, 72, 229);
  --rose-color-100: rgb(255, 228, 230);
  --rose-color-500: rgb(225, 29, 72);
}
