.lsn-counter {
  margin: 50px;

  input { border: 1px solid; }

  p {
    font-size: 16px;
  }

  button {
    margin-top: 20px;
    border: 1px solid;
    background-color: aqua;

    padding: 10px;
  }
}
