.lsn-weather-grid {
  display: grid;
  grid-template-columns: repeat(4, 290px);

  margin: 50px;

  .lsn-weather-card:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .lsn-weather-card:nth-child(9) {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .lsn-weather-card:last-child {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}
